@using Microsoft.AspNetCore.Http
@using gamecrew.Helpers
@inject IHttpContextAccessor _httpCtxtAc;

@{
    ISession session = _httpCtxtAc.HttpContext.Session;
    var PlayerCtxt = session.GetObjectFromJson<PlayerContext>("playerContext");
    DateTime currentYear = DateTime.Now;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameCrew</title>
    <meta name="color-scheme" content="dark">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-nightfall.min.css" rel="stylesheet" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/Logo.png" style="width: 130px;"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                    <ul class="navbar-nav flex-grow-2 float-right">
                        @if (PlayerCtxt != null && PlayerCtxt.Profile.Name != "")
                        {
                            string plyrImg = Url.Content("/img/placeholder.png");
                            if (PlayerCtxt.Profile.Image != null)
                            {
                                plyrImg = PlayerCtxt.Profile.Image;
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark font-weight-bold" asp-controller="Player" asp-action="Index" asp-route-playerId="@PlayerCtxt.Profile.Id">
                                    <u>@PlayerCtxt.Profile.Name!</u>
                                    <img src="@plyrImg"
                                         id="MainProfilePic"
                                         class="rounded-circle"
                                         alt="Profile Picture"
                                         style="width:31px;height:31px;object-fit:cover;" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="container">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            All Rights Reserve &copy; @currentYear.Year - GameCrew
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
